:root{
    /* Colors */
     
    --cyan-300: #8FE3F9;
    --purple-300: #D9B8FF;
    --cyan-600: #4D96A9;
    --purple-600: #855FB1;

    --neutral-100: #FAFAFA;
    --neutral-300: #D1D1DF;
    --neutral-600: #87879D;
    --neutral-900: #28283D;

   

    --fs-100: 1rem; /* 1.6 1.2*/
    --fs-200: 1rem; /* 1.6 */
    --fs-500: 2rem; /* 3.6 3.2*/
    --fs-700: 2.8rem; /* 4.8 4.0*/

    /* Font Weights */

    --fw-400: 400;
    --fw-500: 500;
    --fw-900: 900;

    /* Spacing */
    --padding-inline: 2rem;
    --padding-block: 5rem;
    --gap: 3rem;
    --gap-grid: 2rem;
    --gap-media: 5rem;
}

body{
    font-size: 62.5%;
    font-family: "Red Hat Display", sans-serif;
}

/* Header */

header{
    display: grid;
    justify-items: center;
    padding-block: 3rem;
    gap: var(--gap);
}

.title{
    display: grid;
    justify-items: center;
    text-align: center;
    margin-inline: var(--padding-inline);
}

.img-header-small {
    margin-block-end: var(--gap);
}

.img-header-desktop{
    display: none;
}

.title > * {
    margin-block-end: 1.6rem;
}

h1{
    font-size: var(--fs-700);
    font-weight: var(--fw-900);
    color: var(--neutral-900);
}

.subtitle{
    font-size: var(--fs-100);
    font-weight: var(--fw-400);
    color: var(--neutral-600);
    margin-block-end: 3rem;
}

/* Butons------------------*/

.buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.first-top-btn{
    background-color: var(--cyan-600);
    width: 13rem;
    font-size: var(--fs-100);
    font-weight: var(--fw-900);
    padding: 1.4rem 0;
    border-radius: 50rem;
    color: var(--neutral-100);
    word-spacing: 0.3rem;
}

span{
    color: var(--cyan-300)
}

.first-top-btn:hover{
    background-color: rgba(77, 150, 169, 0.8);
}

.second-top-btn{
    background-color: var(--purple-600);
    width: 10rem;
    font-size: var(--fs-100);
    font-weight: var(--fw-900);
    padding:  1.4rem 0;
    border-radius: 50rem;
    color: var(--neutral-100);
}

.second-top-btn:hover{
    background-color: rgba(133, 95, 177, 0.8);
}

/* Figure 1 */

.line-box{
    display: flex;
    justify-content: center;
}

.line{
    height: 6rem; 
    width: 0;
    border: 0.01rem solid var(--neutral-300);
}

.first-info p{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid var(--neutral-300);

}

.first-nr{
    font-size: var(--fs-100);
    font-weight: var(--fw-900);
    color: var(--neutral-600);
}

/* Main */

main{
    margin-inline: var(--padding-inline);
    padding-block: 4rem;
    gap: var(--gap);
    display: grid;
}

.main-grid-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--gap-grid);
}

.main-grid-box img{
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-box img:hover,
.grid-box img:active{
    transform: scale(1.15);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.info{
    text-align: center;
    display: grid;
    gap: 1.5rem;
}

.info p{
    font-size: var(--fs-100);
    color: var(--neutral-600);
}

h3{
    font-size: var(--fs-200);
    font-weight: var(--fw-900);
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--cyan-600);
}

h2{
    font-size: var(--fs-500);
    font-weight: var(--fw-900);
    color: var(--neutral-900)
}

/* Figure 2 */

.second-line-box {
    display: flex;
    justify-content: center;
}

.second-line {
    height: 8rem;
    width: 0;
    border: 0.01rem solid var(--neutral-300);
}


/* For being in the middle of the footer line */
.second-info{
    position: absolute;
    top: -2rem;
    z-index: 1;
}
/* -------------------------------------------*/

.second-info p {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid var(--neutral-300);

}

.second-nr {
    font-size: var(--fs-100);
    font-weight: var(--fw-900);
    color: var(--neutral-600);
    background-color: var(--neutral-100);
}

/* Footer */

.overlay-footer{
    position: relative;
    display: grid;
    justify-items: center;
}

footer{
    position: absolute;
    display: grid;
    justify-items: center;
    gap: 1.5rem;
    padding-block: var(--padding-block);
    padding-inline: var(--padding-inline);
    background-image: url(assets/mobile/image-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
}

.overlay{
    border-image: fill 1 linear-gradient( #4D96A9E6);
}

footer h2{
    color: var(--neutral-100);
}

footer p{
    font-size: var(--fs-100);
    color: var(--neutral-100);
    line-height: 1.5;
}

/* Footer Button */

.bottom-btn {
    background-color: var(--purple-600);
    font-size: var(--fs-100);
    font-weight: var(--fw-900);
    padding: 1.8rem 4rem;
    border-radius: 50rem;
    color: var(--neutral-100);
    word-spacing: 0.3rem;
}

.bottom-btn span {
    color: var(--purple-300)
}

.bottom-btn:hover {
    background-color: rgba(133, 95, 177, 0.7);
}

/* Media Querys */


@media (min-width: 36rem) {
    :root{
    /* Font Sisez*/
    --fs-100: 1.4rem;
    --fs-200: 1.5rem;
    --fs-500: 3.5rem;
    --fs-700: 3.8rem;

    /* Spacing */
    --margin-img: 2rem;
    --padding-inline: 6rem;
    --padding-block: 5rem;
    --gap: 3rem;
    --gap-grid: 1rem;
    --gap-media: 5rem;
    }

    .header-grid-box{
        display: grid;
        justify-items: center;    
}

    main{
    gap: var(--gap-media);
    margin-inline: 0;
}


    .info{
        margin-inline: var(--padding-inline);
}

    .main-grid-box{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-inline: var(--margin-img);
}

    .buttons{
    display: flex;
    flex-direction: row;
}

    .first-top-btn,
    .second-top-btn{
        padding: 1.8rem 4rem;
        width: auto;
}

    footer {
        background-image: url(assets/tablet/image-footer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;   
}
}

@media (min-width: 75rem) {
    :root {
    /* Font Sisez*/
    --fs-100: 1rem;

    /* Spacing */
    --padding-block: 7rem;
    --gap: 2rem;
    --gap-footer: 4rem;
}

    header{
      padding-block-end: var(--padding-block);
    }

    .img-header-small{
        display: none;
}

    .img-header-desktop{
    display: block;
}

    .header-grid-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

    .first-top-btn,
    .second-top-btn {
        padding: 1rem 1.1rem;
        width: auto;
}

    .main-grid-box {
        margin-inline: var(--padding-block);
        gap: var(--gap)
}

    .info{
        margin-inline: 20rem;
    }

    .info h2{
        font-size: 2.8rem;
    }

    .overlay{
        gap: var(--gap-footer);
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        text-align: start;
    }

    .overlay h2{
        font-size: 2.5rem;
    }

    .overlay p{
        font-size: 1.2rem;
    }

    .bottom-btn{
        padding: 1.3rem 3rem;
    }


}